.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    grid-row: 2;
    grid-column: 1;
}

.subtitle {
    grid-row: 2;
    grid-column: 1;
    justify-content: flex-end;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 10fr 5fr;
}

button {
    height: 5em;
    width: 15em;
}

.button {
    grid-row: 3;
}